<div id='wrap'>

  <div id='external-events'>
    <div class='external-event'>
      <%= link_to "My Calendar", events_path %>
    </div>
  </div>

  <div class="ui-widget" style="float: left; padding-left: 20px">
    <table class="ui-widget ui-widget-content">
      <thead>
        <tr class="ui-widget-header">
          <th>Title</th>
          <th>Repeat</th>
          <th>Start</th>
          <th>End</th>
          <th>Control</th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr class="event_<%= event.id %> <%= (event.repeat || Event.notify_types.first).downcase %>">
            <td><%= event.title %></td>
            <td><%= event.repeat %></td>
            <td><%= event.from.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= event.to.blank? ? "" : event.to.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= link_to "Delete", event_path(event), :id => event.id, :class => "event" %></td>
          </tr>
        <% end %>
      <tbody>

    </table>
  </div>

</div>
<script>
  $('.event').click(function(eventElement){
    if(confirm("Are you sure?")){
      $.ajax({
        url: "<%= events_path %>/" + this.id,
        type: 'POST',
        beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
        data: {"_method": "delete"}
      })
    }
    return false;
  });
</script>

